USE [master]
GO
/****** Object:  Database [DATN_Dang2]    Script Date: 12/26/2022 8:15:43 PM ******/
CREATE DATABASE [DATN_Dang2]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATN_Dang2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATN_Dang2]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 12/26/2022 8:15:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [varchar](255) NULL,
	[user_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 12/26/2022 8:15:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdate] [date] NULL,
	[logo] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/26/2022 8:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdate] [date] NULL,
	[name] [nvarchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 12/26/2022 8:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdate] [date] NULL,
	[number] [float] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 12/26/2022 8:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[product_id] [bigint] NULL,
	[user_id] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[multiple_images]    Script Date: 12/26/2022 8:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[multiple_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[status] [bit] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 12/26/2022 8:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[color] [varchar](255) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NULL,
	[total] [float] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_tracks]    Script Date: 12/26/2022 8:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_tracks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](255) NULL,
	[update_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/26/2022 8:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[create_date] [datetime2](7) NULL,
	[phone] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
	[district] [nvarchar](255) NULL,
	[province] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[date] [date] NULL,
	[discount] [int] NULL,
	[ordertrack_id] [bigint] NULL,
	[totalprice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/26/2022 8:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](255) NULL,
	[createdate] [date] NULL,
	[description] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[price] [float] NULL,
	[screen] [nvarchar](250) NULL,
	[gpu] [nvarchar](250) NULL,
	[battery] [nvarchar](250) NULL,
	[sim] [nvarchar](250) NULL,
	[hdh] [nvarchar](250) NULL,
	[quantity] [int] NULL,
	[size] [int] NULL,
	[status] [bit] NULL,
	[brand_id] [bigint] NULL,
	[category_id] [bigint] NULL,
	[discount_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/26/2022 8:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](255) NULL,
	[create_date] [datetime2](7) NULL,
	[rating] [float] NULL,
	[product_id] [bigint] NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/26/2022 8:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/26/2022 8:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](255) NOT NULL,
	[address] [nvarchar](250) NULL,
	[create_date] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[fullname] [nvarchar](250) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 12/26/2022 8:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[discount_amount] [float] NULL,
	[end_date] [datetime2](7) NULL,
	[max_user] [bigint] NULL,
	[start_date] [datetime2](7) NULL,
	[status] [bit] NULL,
	[voucher_code] [varchar](255) NULL,
	[product_id] [bigint] NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [role_id], [user_name]) VALUES (1, N'DIRE', N'Dang')
INSERT [dbo].[authorities] ([id], [role_id], [user_name]) VALUES (3, N'STAF', N'Hung')
INSERT [dbo].[authorities] ([id], [role_id], [user_name]) VALUES (4, N'STAF', N'Dang')
SET IDENTITY_INSERT [dbo].[authorities] OFF
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [createdate], [logo], [name], [status]) VALUES (1, CAST(N'2022-09-25' AS Date), N'Apple-logo.PNG', N'Apple', 1)
INSERT [dbo].[brands] ([id], [createdate], [logo], [name], [status]) VALUES (2, CAST(N'2022-09-25' AS Date), N'samsung-logo.PNG', N'SamSung', 1)
INSERT [dbo].[brands] ([id], [createdate], [logo], [name], [status]) VALUES (3, CAST(N'2022-09-25' AS Date), N'logo-oppo.PNG', N'Oppo', 1)
SET IDENTITY_INSERT [dbo].[brands] OFF
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [createdate], [name], [status]) VALUES (1, CAST(N'2022-09-25' AS Date), N'Máy tính bảng', 1)
INSERT [dbo].[categories] ([id], [createdate], [name], [status]) VALUES (2, CAST(N'2022-09-25' AS Date), N'Ðiện Thoại', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[discounts] ON 

INSERT [dbo].[discounts] ([id], [createdate], [number], [status]) VALUES (1, CAST(N'2022-04-23' AS Date), 0.1, 1)
INSERT [dbo].[discounts] ([id], [createdate], [number], [status]) VALUES (2, CAST(N'2022-04-23' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[discounts] OFF
SET IDENTITY_INSERT [dbo].[favorites] ON 

INSERT [dbo].[favorites] ([id], [create_date], [product_id], [user_id], [status]) VALUES (1, CAST(N'2022-11-30T20:32:45.0630000' AS DateTime2), 13, N'Dang', 1)
INSERT [dbo].[favorites] ([id], [create_date], [product_id], [user_id], [status]) VALUES (2, CAST(N'2022-12-02T20:53:02.6340000' AS DateTime2), 14, N'Dang', 1)
INSERT [dbo].[favorites] ([id], [create_date], [product_id], [user_id], [status]) VALUES (3, CAST(N'2022-12-08T16:11:36.5450000' AS DateTime2), 21, N'Dang', 1)
SET IDENTITY_INSERT [dbo].[favorites] OFF
SET IDENTITY_INSERT [dbo].[multiple_images] ON 

INSERT [dbo].[multiple_images] ([id], [name], [status], [product_id]) VALUES (1, N'iphone-se-t.jpg', 1, 1)
INSERT [dbo].[multiple_images] ([id], [name], [status], [product_id]) VALUES (2, N'iphonese_mul1.jpg', 1, 1)
INSERT [dbo].[multiple_images] ([id], [name], [status], [product_id]) VALUES (3, N'iphonese_mul2.jpg', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[multiple_images] OFF
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [color], [price], [quantity], [order_id], [product_id], [total], [image]) VALUES (30, N'Xám', 4490000, 1, 125, 41, 4490000, N'Xiaomi-redmi-note-11.jpeg')
INSERT [dbo].[order_details] ([id], [color], [price], [quantity], [order_id], [product_id], [total], [image]) VALUES (31, N'Tím Ðen', 30990000, 1, 126, 20, 27891000, N'iPhone-14-pro.jpg')
INSERT [dbo].[order_details] ([id], [color], [price], [quantity], [order_id], [product_id], [total], [image]) VALUES (32, N'Ðen', 15990000, 1, 127, 24, 15990000, N'Galaxy-S22-Black.jpg')
SET IDENTITY_INSERT [dbo].[order_details] OFF
SET IDENTITY_INSERT [dbo].[order_tracks] ON 

INSERT [dbo].[order_tracks] ([id], [status], [update_date]) VALUES (1, N'Chờ xác nhận', NULL)
INSERT [dbo].[order_tracks] ([id], [status], [update_date]) VALUES (2, N'Đang giao hàng', NULL)
INSERT [dbo].[order_tracks] ([id], [status], [update_date]) VALUES (3, N'Đả giao hàng', NULL)
SET IDENTITY_INSERT [dbo].[order_tracks] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [address], [create_date], [phone], [user_id], [district], [province], [status], [date], [discount], [ordertrack_id], [totalprice]) VALUES (125, N'111', CAST(N'2022-12-11T22:32:58.2410000' AS DateTime2), N'0788906202', N'Dang', N'Quận Tân Bình', N'TP Hồ Chí Minh', 1, CAST(N'2022-12-11' AS Date), 0, 4, NULL)
INSERT [dbo].[orders] ([id], [address], [create_date], [phone], [user_id], [district], [province], [status], [date], [discount], [ordertrack_id], [totalprice]) VALUES (126, N'110', CAST(N'2022-12-12T23:15:42.5160000' AS DateTime2), N'0788906202', N'Dang', N'Quận 3', N'TP Hồ Chí Minh', 1, CAST(N'2022-12-12' AS Date), 0, 4, NULL)
INSERT [dbo].[orders] ([id], [address], [create_date], [phone], [user_id], [district], [province], [status], [date], [discount], [ordertrack_id], [totalprice]) VALUES (127, N'222', CAST(N'2022-12-12T23:16:43.0820000' AS DateTime2), N'0788906202', N'Dang', N'Quận 4', N'TP Hồ Chí Minh', 0, CAST(N'2022-12-12' AS Date), 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [color], [createdate], [description], [image], [name], [price], [screen], [gpu], [battery], [sim], [hdh], [quantity], [size], [status], [brand_id], [category_id], [discount_id]) VALUES (1, N'Trắng', CAST(N'2022-02-10' AS Date), NULL, N'iPhone-se-t.jpg', N'Iphone SE 2020 128Gb', 9290000, N'IPS LCD,4.7 inch, Retina HD, 750 x 1334', N'Apple GPU 4 nhân', N'1821mAh', N'1 Nano SIM & 1 eSIM, Hỗ trợ 4G', N'IOS 13', 5, 4, 1, 1, 2, 1)
INSERT [dbo].[products] ([id], [color], [createdate], [description], [image], [name], [price], [screen], [gpu], [battery], [sim], [hdh], [quantity], [size], [status], [brand_id], [category_id], [discount_id]) VALUES (2, N'Ðen', CAST(N'2022-02-10' AS Date), NULL, N'iPhone-se.jpeg', N'Iphone SE 2022 64Gb', 11790000, N'IPS LCD,4.7 inch, Retina HD, 750 x 1334', N'Apple GPU 4 nhân', N'2018 mAh', N'1 Nano SIM & 1 eSIM, Hỗ trợ 4G', N'IOS 15', 5, 4, 1, 1, 2, 1)
INSERT [dbo].[products] ([id], [color], [createdate], [description], [image], [name], [price], [screen], [gpu], [battery], [sim], [hdh], [quantity], [size], [status], [brand_id], [category_id], [discount_id]) VALUES (3, N'Xanh Ngọc', CAST(N'2022-02-10' AS Date), NULL, N'iPhone-11.jpg', N'Iphone 11 64Gb', 11490000, N'IPS LCD, 6.1  inch, Liquid Retina, 828 x 1792', N'Apple GPU 4 nhân', N'3110 mAh', N'1 Nano SIM & 1 eSIM, Hỗ trợ 4G', N'IOS 15', 5, 6, 1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
INSERT [dbo].[roles] ([id], [name]) VALUES (N'CUST', N'Customers')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'DIRE', N'Directors')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'STAF', N'Staffs')
INSERT [dbo].[users] ([username], [address], [create_date], [email], [fullname], [password], [phone], [photo], [status]) VALUES (N'Dang', N'Trái Đất', NULL, N'haidang17522@gmail.com', N'Hai Dang', N'111', N'0788906200', N'eren.jpg', 1)
INSERT [dbo].[users] ([username], [address], [create_date], [email], [fullname], [password], [phone], [photo], [status]) VALUES (N'h1', N'Trái Đât', CAST(N'2022-11-29T21:19:34.9920000' AS DateTime2), N'h1@gmail.com', N'h', N'111', N'1111111111', N'222016a1.png', 1)
INSERT [dbo].[users] ([username], [address], [create_date], [email], [fullname], [password], [phone], [photo], [status]) VALUES (N'Hung', N'Trái Đất', NULL, N'ph@gmail.com', N'Hung', N'111', N'0111876753', N'4c834ff9.jpg', 1)
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([id], [discount_amount], [end_date], [max_user], [start_date], [status], [voucher_code], [product_id], [user_id]) VALUES (1, 200000, CAST(N'2023-01-06T00:00:00.0000000' AS DateTime2), 2, CAST(N'2022-12-06T00:00:00.0000000' AS DateTime2), 1, N'8zs5wb', 2, N'Dang')
INSERT [dbo].[vouchers] ([id], [discount_amount], [end_date], [max_user], [start_date], [status], [voucher_code], [product_id], [user_id]) VALUES (2, 1000000, CAST(N'2022-12-30T00:00:00.0000000' AS DateTime2), 1, CAST(N'2022-12-09T00:00:00.0000000' AS DateTime2), 1, N'yda9m6', 7, N'Dang')
INSERT [dbo].[vouchers] ([id], [discount_amount], [end_date], [max_user], [start_date], [status], [voucher_code], [product_id], [user_id]) VALUES (4, 1000000, CAST(N'2022-12-27T00:00:00.0000000' AS DateTime2), 2, CAST(N'2022-12-12T00:00:00.0000000' AS DateTime2), 1, N'xcqbfa', 13, N'Dang')
SET IDENTITY_INSERT [dbo].[vouchers] OFF
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FK1pec5q5koxb1acppey05jvmgj] FOREIGN KEY([user_name])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FK1pec5q5koxb1acppey05jvmgj]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FK7kj74d912rytfp5su91jfv0tg] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FK7kj74d912rytfp5su91jfv0tg]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_o_t] FOREIGN KEY([ordertrack_id])
REFERENCES [dbo].[order_tracks] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_o_t]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
USE [master]
GO
